<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<title>Nekotsuki</title>
<style>
    *, html {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #080808;
        color: #eee;
        max-width: 1024px;
        margin: 15px auto;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    input {
        background-color: #0e0e0e;
        color: #989a9b;
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 15px;
        border-radius: 5px;
    }

    a {
        color: #ab798f;
        text-decoration: none;
    }

    a:hover {
        color: #e09ebb;
        text-decoration: none;
    }


    .files {
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .files a {
        padding: 5px;
        background-color: #1a1c2369;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }

    .files a:hover {
        padding: 5px;
        background-color: #1a1c23;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
</style>