<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("www/headers.ejs") %>
</head>
<body>
    <h1>Nekotsuki</h1>
    <h2>Operation completed</h2>
    <a href="/">Back to main screen.</a>
</body>
</html>